<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{page}} Form</title>
    <link rel="stylesheet" href="static/login.css" />
  </head>
  <body>
    <div class="container">
      <form class="registration-form" method="post">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul>
          {% for message in messages %}
          <p class="{{ message[1] }}">{{ message }}</p>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <h2>{{page}}</h2>

        <div class="form-group">
          {% if action == 'Verify'%}
          <label for="email">Otp:</label>
          <input type="text" id="otp" name="otp" required />
          {%else%}
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
          {% endif %}
        </div>
        <button type="submit">{{action}}</button>
        <p>{{alt}}? <a href="{{alt_route}}">{{alt_text}} Here</a></p>
      </form>
    </div>
  </body>
</html>
